<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div id="recaptcha"></div>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
    <script>
  const firebaseConfig = {
    apiKey:"{{FIREBASE_apiKey}}" ,
    authDomain: "{{FIREBASE_authDomain}}",
    projectId:"{{FIREBASE_projectId}}" ,
    storageBucket:"{{FIREBASE_storageBucket}}" ,
    messagingSenderId:"{{FIREBASE_messagingSenderId}}",
    appId:"{{FIREBASE_appId}}",
    measurementId:"{{FIREBASE_measurementId}}"
  };
  // Initialize Firebase
  const app = firebase.initializeApp(firebaseConfig);
  firebase.auth().languageCode = 'ko';

// window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha');

window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha', {
  'size': 'invisible',
  'callback': (response) => {
    responseMsg.postMessage("pass");
  }});

function smsSend(phoneNumber){ // args : 1012341234 or "1012341234"
    firebase.auth().signInWithPhoneNumber('+82 '+ phoneNumber, window.recaptchaVerifier)
        .then((confirmationResult) => {
          window.confirmationResult = confirmationResult;
        }).catch((error) => {
            if(error.code == "auth/captcha-check-failed"){
                responseMsg.postMessage("error");
                // responseMsg.postMessage("auth/captcha-check-failed");
                //reCAPTCHA 응답 토큰이 유효하지 않거나 만료되었거
            }else if(error.code == "auth/quota-exceeded"){
                responseMsg.postMessage("error");
                // responseMsg.postMessage("auth/quota-exceeded");
                //firebase 프로젝트의 SMS 할당량이 초과된 경우 발생합니다.
            }
            else{
                responseMsg.postMessage("error");
            }
        });

}
function codeCheck(code){ // args : "123456"
    confirmationResult.confirm(code).then((result) => {
      responseMsg.postMessage("success");
      const user = result.user;
      user.delete().then(() => {});
    }).catch((error) => {
        if(error.code == "invalid verification code"){
            responseMsg.postMessage("fail");
        }else{
            responseMsg.postMessage("error");
        }
    });
}

</script>
</body>
</html>